---
import SnsIcon from "@/components/SnsIcon.astro";
import "@/global.scss";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title?: string;
}

const { title } = Astro.props;

const serviceTitle = "ロゴひろば";
const pageTitle = title === undefined ? serviceTitle : `${title}｜${serviceTitle}`;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Google Tag Manager -->
		<script async src="https://www.googletagmanager.com/gtm.js?id=GTM-K9M9K2B6"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
		</script>
		<script is:inline>
			document.addEventListener(
				"astro:page-load",
				() => {
					gtag("js", new Date());
					gtag("config", "GTM-K9M9K2B6");
					dataLayer.push({ event: "astro-page-load" });
				},
				{ once: false }
			);
		</script>
		<!-- End Google Tag Manager -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-K9M9K2B6"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<header transition:name="header">
			<a id="title-link" href="/"><h1 id="title">ロゴひろば</h1></a>
		</header>
		<p id="note">
			ロゴの追加、URLの修正要望は
			<a href="https://github.com/AkimeAki/LogoHiroba/issues" target="_blank">GitHubのIssues</a>
			か
			<a href="https://twitter.com/Akime_Aki" target="_blank">XのDM</a>
			などからお願いします。
		</p>
		<main>
			<slot />
		</main>
		<footer transition:name="footer">
			<p id="copy">Created by 彩季</p>
			<div id="footer-link">
				<SnsIcon file="twitter" name="Twitter" href="https://twitter.com/Akime_Aki" />
				<SnsIcon file="x" name="X" href="https://x.com/Akime_Aki" />
				<SnsIcon file="github" name="GitHub" href="https://github.com/AkimeAki/LogoHiroba" />
			</div>
		</footer>
		<style lang="scss">
			header {
				text-align: center;

				#title-link {
					text-decoration: none;

					#title {
						display: inline-block;
						text-align: center;
						font-size: 30px;
						margin: 40px 0;
						font-weight: bold;
						color: #f99e85;
					}
				}
			}

			#note {
				text-align: center;
			}

			main {
				max-width: 1100px;
				width: 100%;
				margin: 50px auto 0;
			}

			footer {
				padding: 120px 0;

				#copy {
					text-align: center;
					font-weight: bold;
				}

				#footer-link {
					display: flex;
					justify-content: center;
					padding: 20px 10px;
					gap: 20px;
				}
			}
		</style>
	</body>
</html>
